<!--/****************************************************
Higher Diploma in Science in Computing
* Team G
* Subject: Web Design
* Assignment: Web Design Final Project
* Authors: Aleksandra Czekaj, Katherina McGrath, Francis Ryan,
* Student ID: X17164699, X17166322, X17164745,
* Date: 22/04/2018

* Ref:Please See Reference Doc
****************************************************/-->
		<!-- HERO Text  -->
		<div class="site-hero4">
			<div class="page-title">
				<div class="big-title montserrat-text uppercase">Contact us</div>
				<!--<div class="small-title montserrat-text uppercase">home / contact</div>-->
			</div>
		</div>
		<!-- end/hero text  -->
<section>
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="row">
						<form action="#" method="post">
							<div class="col-md-6">
								<div class="input_1" style="margin-bottom:30px">
									<input type="text" name="name">
									<span>your name</span>
								</div>
							</div>
							<div class="col-md-6">
								<div class="input_1" style="margin-bottom:30px">
									<input type="text" name="email">
									<span>your email</span>
								</div>
							</div>
							<div class="col-md-12">
								<div class="input_1" style="margin-bottom:30px">
									<input type="text" name="object">
									<span>object</span>
								</div>
							</div>
							<div class="col-md-12">
								<div class="textarea_1" style="margin-bottom:30px">
									<textarea name="message"></textarea>
									<span>message</span>
								</div>
							</div>
							<div class="col-md-12">
								<a href="#" class="btn orange"><span>send</span></a>
							</div>
						</form>
					</div>

					<h4 class="montserrat-text uppercase" style="margin-top:100px">contact info</h4>
					<p>The answers you need when you need them. Get in touch with our care team today &ell us what it's about and we'll put you in touch with the right team who'll be happy to help.</p>
					
					<p>
						PERFEcTa, O'Connell st, <br/>
						Dublin <br/>
						+353 01-123-456 <br/>
						+353 01-123-457<br/>
						<div><a href="mailto:email@perfetca.com" class="link">email@perfecta.com</a></div>
					</p>

					<ul class="social-icons" style="margin-top:30px;">
						<li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
						<li><a href="#"><i class="icon ion-social-twitter"></i></a></li>
						<li><a href="#"><i class="icon ion-social-youtube"></i></a></li>
						<li><a href="#"><i class="icon ion-social-linkedin"></i></a></li>
						<li><a href="#"><i class="icon ion-social-pinterest"></i></a></li>
						<li><a href="#"><i class="icon ion-social-instagram"></i></a></li>
					</ul>
				</div><!-- end col -->

				
				<div class="col-md-6">
					
	
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2381.689321978271!2d-6.245367983918095!3d53.34881737997943!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e8cd86e97e7%3A0x6d51b774ee7fa935!2sNational+College+of+Ireland!5e0!3m2!1sen!2sie!4v1532997252128" 
      width="600" height="900" frameborder="0" style="border:0" allowfullscreen></iframe>
   
   
   
					</div>
				</div>

			</div>
		</div>
	</section>


