@import "bootstrap";

body {
  background-color: #F5F5F1;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

.jumbotron {
  background-image: url('jumbotron.jpg');
  h1, h2 {
    font-family: guardian-egyptt, georgia, serif;
  }

}
#heads{
	background-size:cover;
	background-position: center;
	float: none;
	font-family: Monaco, Menlo, "Ubuntu Mono", Consolas, source-code-pro, monospace;
  margin: 0 auto;
	display: block;
	padding:200px 0px 0px 0px;
	
	p{
		color:white;
		font-size:76px;
		padding:0px 0px 75px 0px;

	}
	ul {
      padding: 10px;
      text-align:center;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    a {
      color:white;

    }

}
.navbar {
  position: relative;
  min-height: 0px;
  margin-bottom: 0px;

}



.navbar-default {
  background:#35424a;
  color:#ffffff;
  padding-top:12px;
  min-height:70px;
  border-bottom:#e8491d 3px solid;
}

.navbar-default .navbar-brand {
  font-family: guardian-egyptt, georgia, serif;
  font-weight: 400;
  color: #e8491d;
  font-size: 30px;
 	padding: 10px 40px;
	border:solid 10px #60606e; 
	display: inline-block;
	margin-bottom: 30px;

}

 .navbar-toggle {
    position: relative;
    float: right;
    margin-right: 5px;
    padding: 3px 5px;
    margin-top: 8px;
    margin-bottom: 9px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

 .navbar-default .navbar-toggle {
    border-color: #60606e;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #E8491D;
  background-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  padding-top: 25px;
  font-size:16px;
}

.navbar-nav .a:hover{
  color:#ffffff;