<nav id="footer" class="navbar navbar-light  navbar-static-bottom">
  <div class="container-fluid text-center">
    <p style="background-color: #555;color: white;padding: 25px;">Copyright 2018.</p>
  </div>
</nav>

